@import "./../../sass/constants";
@import "./../../sass/plaseholder";
@import "./../../sass/mixins";

.header {
  @extend %flex;
  width: 100%;
  background-image: var(--wrapper-background-image-header);
  background-repeat: no-repeat;
  background-size: cover;
}

.app-title {
  @extend %title;
  @include font(4rem, normal);
  //text-shadow: rgb(189, 189, 214);
  /*background-image: url("./../../assets/icons8-chat-50.png");
  background-repeat: no-repeat;*/
}

@media (max-width: 800px) {
  .app-title {
    @include font(3rem, normal);
  }
  .img {
    width: 10%;
  }
}

@media (max-width: 600px) {
  .header {
    flex-wrap: wrap;
    padding: 0.15rem;
  }
  .app-title {
    @include font(2.4rem, normal);
  }
  h1 {
    margin-bottom: 0.4rem;
  }
}
