@import "./../../../../sass/plaseholder";
@import "./../../../../sass/constants";
@import "./../../../../sass/mixins";

:host {
  @extend %flex;
  font-family: $font-family, sans-serif;
  @include font(0.75rem, regular);
  color: $color-grey-dark;
  cursor: pointer;
  .login-name {
    margin-right: 0.5rem;
  }
}
