@import "./constants";
@import "./mixins";

%flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%btn-primary {
  background-color: $color-primary;
  //@extend %flex;
  width: auto;
  height: auto;
  //padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0.2rem 0.3rem 0.6rem $color-grey-light;
  border: none;
  color: $color-white;
  cursor: pointer;
  &:hover {
    transition: all 0.5s;
    background-color: aqua;
    color: $color-primary;
  }
}

%toast {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0rem;
  margin: 2rem;
  display: inline-flex;
  max-width: 15rem;
  min-height: 4rem;
  //max-height: 4rem;
  box-shadow: 0.3rem 0.3rem 0.8rem #00000040;
  background-color: rgba(100, 100, 200, 0.2);
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  border-left: 6px solid black;
  padding: 1.5rem;
  border-radius: 4px;
  font-size: 0.9rem;
}

%container {
  @extend %flex;
  flex-direction: column;
  margin: 1rem;
  background-color: $color-background-one;
  border-radius: 0.5rem;
  box-shadow: 0.06rem 0.6rem 0.6rem 0.06rem $color-blue;
  padding: 3%;
}

%list {
  list-style-type: none;
  align-self: flex-start;
  color: $color-primary;
  @include font(1.5rem, normal);
}
