@import "./../../sass/mixins";
@import "./../../sass/plaseholder";
@import "./../../sass/constants";

:host {
  //position: relative;
  font-family: $font-family;
  margin: 0 auto;
}

.wrapper {
  //margin: 0 auto;
  background-image: var(--wrapper-background-image-main);
  background-repeat: no-repeat;
  background-size: cover;

  //padding: 1rem;
}

.header-component {
  @extend %header;
}
h1 {
  @include font(2.3rem, 900, normal);
  @extend %title;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 1rem;
}

.btn {
  @extend %btn-primary;
  @include font(1rem, normal);
  padding: 0.6rem;
  letter-spacing: 0.1rem;
  //background-color: var(--background-color-btn-primary);
}

.popap {
  position: absolute;
  z-index: 10;
  @extend %flex;
  flex-direction: column;
  left: 20vw;
  width: auto;
  height: 5rem;
  top: 45vh;
  background-color: $color-background-two;
  color: $color-darkblue;
  padding: 0 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.06rem 0.6rem 0.06rem var(--color-box-shadow-container);
}

.popap-form {
  display: flex;
  align-items: center;
}

input {
  border: none;
  border-radius: 0.2rem;
  height: 1.5rem;
}

.submit {
  @include font(0.8rem, normal);
  padding: 0.3rem;
}

.container {
  width: 40%;
  height: auto;
  @extend %container;
  //background-color: var(--background-color-container); //$color-fone-second;
}

.list {
  overflow-y: scroll;
  height: 80vh;
  /*box-shadow: var(
    --color-box-shadow-container
  );*/ //0.3rem 0.3rem 0.8rem $color-background-one;
  width: auto;
  padding: 10%;
  border-radius: 0.5rem;
}

.button-container {
  align-self: flex-start;
  width: 80%;
  @extend %flex;
  flex-wrap: wrap;
  border-bottom: 0.2rem $color-primary;
  margin-bottom: 0.8rem;
}

.title {
  justify-content: flex-end;
  @extend %title;
  @include font(1.5rem, 800, normal);
}

li {
  @extend %list;
}

.delete {
  border-radius: 50%;
}

.companion {
  background-color: $color-blue;
  box-shadow: 0.3rem 0.3rem 0.8rem $color-background-one;
  border-radius: 0.5rem;
  color: $color-white;
}
