<div class="wrapper">
  <div class="header-component">
    <h1>GROUPS & PEOPLE</h1>
    <button type="button" class="btn logout" (click)="openProfile()">
      PROFILE
    </button>
  </div>
  <div class="main-container">
    <div class="container groups">
      <div class="button-container">
        <button
          type="button"
          class="btn update"
          [disabled]="disabledGroup"
          (click)="updateGroup()"
        >
          Update
        </button>
        <span *ngIf="timerGroup" class="timer">{{ timerGroup }}s</span>
        <button type="button" class="btn create" (click)="createGroup()">
          Create
        </button>
        <h2 class="title groups">GROUPS</h2>
      </div>
      <ul class="list" *ngIf="groups$ | async as groups">
        <li *ngFor="let group of groups">
          <a routerLink="/group/:{{ group.id }},{{ group.myGroup }}">
            <img
              class="icon"
              src="./../../assets/group_FILL1_wght400_GRAD0_opsz24.svg"
              alt="group-icon"
            /><span>
              {{ group.name }}
            </span>
          </a>
          <button
            type="button"
            class="btn delete"
            *ngIf="group.myGroup"
            (click)="openPopap()"
          >
            x
          </button>
          <div class="popap" *ngIf="showPopap">
            <p class="popap-text">are you sure you want to delete the group?</p>
            <div class="btn-container">
              <button
                type="button"
                class="btn popap-btn"
                (click)="deleteGroup(group.id)"
              >
                delete
              </button>
              <button type="button" class="btn popap-btn" (click)="openPopap()">
                cancel
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="popap" *ngIf="isShown">
      <form
        [formGroup]="popapForm"
        class="popap-form"
        (ngSubmit)="popapForm.valid && createGroupSubmit()"
      >
        <label for="groupName" class="label"></label>
        <input type="text" formControlName="nameGroup" class="input name" />
        <div
          *ngIf="nameGroup?.invalid && (nameGroup?.dirty || nameGroup?.touched)"
          class="alert-block"
        >
          <div
            *ngIf="
          nameGroup?.errors?.['required']"
            class="alert-invalid"
          >
            Please enter group name
          </div>
          <div
            *ngIf="
          nameGroup?.errors?.['pattern']"
            class="alert-invalid"
          >
            The group name can only contain letters, digits or spaces
          </div>
          <div
            *ngIf="
          nameGroup?.errors?.['maxLength']"
            class="alert-invalid"
          >
            The name can contain maximum 30 characters
          </div>
        </div>
        <button type="submit" class="btn submit" [disabled]="popapForm.invalid">
          submit
        </button>
      </form>
    </div>
    <div class="container people">
      <div class="button-container">
        <button
          type="button"
          class="btn update"
          [disabled]="disabled"
          (click)="updatePeople()"
        >
          Update
        </button>
        <span *ngIf="timer" class="timer">{{ timer }}s</span>
        <h2 class="title groups">PEOPLE</h2>
      </div>
      <div *ngIf="companion$ | async as companions">
        <ul class="list" *ngIf="people$ | async as people">
          <li *ngFor="let companion of companions" class="companion">
            <a
              routerLink="/conversation/:{{ conversationId }}"
              (click)="getConversationId(companion.id)"
            >
              <img
                class="icon"
                src="./../../assets/person_FILL1_wght400_GRAD0_opsz24.svg"
                alt=""
              /><span>
                {{ companion.name }}
              </span>
            </a>
          </li>

          <li *ngFor="let user of people" class="people">
            <a (click)="createConversation(user.id)">
              <img
                class="icon"
                src="./../../assets/person_FILL1_wght400_GRAD0_opsz24.svg"
                alt=""
              /><span>
                {{ user.name }}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
