.favorite {
  border: none;
  background-color: inherit;
}

.true {
  color: red;
  cursor: pointer;
  & :hover {
    color: blueviolet;
    transition: all 0.5s;
    transform: scale(1.1);
  }
}

.false {
  color: blue;
  cursor: pointer;
  & :hover {
    color: red;
    transition: all 0.5s;
    transform: scale(1.1);
  }
}
