@import "./../../../../sass/constants";
@import "./../../../../sass/plaseholder";

.search-block {
  display: flex;
}

.search-input {
  width: 396px;
  height: 24px;
  background-color: $color-background-two;
  border: none;
}

.search-button {
  width: 80px;
  height: 24px;
  background-color: $color-primary;
  border: none;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 1px 1px 1px 1px $color-primary;
  color: $color-white;
  cursor: pointer;
}
