@import "./../../../../sass/constants";
@import "./../../../../sass/plaseholder";

:host {
  display: flex;
}

.search-input {
  width: 24.75rem;
  height: 1.5rem;
  background-color: $color-background-two;
  border: none;
}

.search-button {
  width: 5rem;
  height: 1.5rem;
  background-color: $color-primary;
  border: none;
  border-radius: 0px 0.3rem 0.3rem 0px;
  box-shadow: 0.06rem 0.06rem 0.06rem 0.06rem $color-primary;
  color: $color-white;
  cursor: pointer;
}
