@import "./../../../../sass/constants";

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  background-color: $color-white;
  padding: 31px;
}
