@import "./../../../../sass/constants";

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.625rem;
  background-color: $color-white;
  padding: 2rem;
}
